<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="submitFormulario()">

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                            class="form-control"
                            formControlName="nombre"
                            placeholder="Nombre del usuario">
                    <span class="form-text text-primary"
                        *ngIf="campoNoValido('nombre')">
                        Debe de ser en formato de nombre y apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                            class="form-control"
                            formControlName="email"
                            placeholder="Email del usuario">
                    <span class="form-text text-primary"
                            *ngIf="campoNoValido('email')">
                            {{emailErrorMsg}}
                    </span>

                    <!-- Formas de mostrar mensajes de error -->
                    <!-- <span class="form-text text-primary"
                            *ngIf="emailRequired()">
                            El campo email es obligatorio
                    </span>
                    <span class="form-text text-primary"
                            *ngIf="emailFormato()">
                            Se requiere el formato de email
                    </span>
                    <span class="form-text text-primary"
                            *ngIf="emailTomado()">
                            El email ya esta en uso
                    </span> -->
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                            class="form-control"
                            formControlName="username"
                            placeholder="Nombre de usuario">
                    <span class="form-text text-primary"
                        *ngIf="campoNoValido('username')">
                        El usuario no puede se strider
                    </span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                            class="form-control"
                            formControlName="password"
                            placeholder="Contraseña de su cuenta">
                    <span class="form-text text-primary"
                          *ngIf="campoNoValido('password')">
                        La contraseña debe ser mayor de 6 caracteres
                    </span>
                </div>
            </div>

            <!-- Confirmar Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                        class="form-control"
                        formControlName="confirmarPassword"
                        placeholder="Confirmar la contraseña">
                    <span class="form-text text-primary"
                        *ngIf="campoNoValido('confirmarPassword')">
                        Las contraseñas deben ser iguales
                    </span>
                </div>
            </div>


            <!-- Boton -->
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                    [disabled]="miFormulario.pending"
                            type="submit">
                        Crear usuario
                    </button>
                </div>
            </div>
        
        
        </form>

    </div>
</div>

<pre>Valid: {{ miFormulario.valid }}</pre>
<pre>Status: {{ miFormulario.status }}</pre>

<h5>Errors</h5>
<pre>{{ miFormulario.errors | json }}</pre>

<h5>Email</h5>
<pre>{{miFormulario.controls['email'].errors |json}}</pre>

<h5>Username</h5>
<pre>{{miFormulario.controls['username'].errors |json}}</pre>

<h5>Password</h5>
<pre>{{miFormulario.controls['password'].errors |json}}</pre>

<h5>Confirmar password</h5>
<pre>{{miFormulario.controls['confirmarPassword'].errors |json}}</pre>
